/* ---------- CONTACT ---------- */

/* Layout */
.contact {
    padding: 20px 10%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 48px;
}

/* Contact Details */
.contact-details img {
    clip-path: circle();
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.contact-details h1 {
    text-align: center;
    font-size: 70px;
    position: relative;
    top: -70px;
    color: deepskyblue;
}

.contact-details h4 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -70px;
}

.contact-details h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
}

.contact-details span {
    color: deepskyblue;
}

.contact-map {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-self: center;
}

/* Contact Form */
.contact-form {
    background: #212121;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.contact-form h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0px;
}

.contact-form h4 {
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 30px;
    color: #a6a6a6;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    outline: none;
    background: #323232;
    font-size: 16px;
    color: white;
    margin-bottom: 12px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

form button {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 15px;
    background: #808080;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
}

form button:hover {
    background-color: deepskyblue;
    transition: 0.5s;
    transform: translateY(-8px);
}

/* Smaller Devices */
@media (max-width: 1024px) {
    .contact {
        grid-template-columns: 1fr;
        padding: 15px 8%;
    } 

    .contact-details img {
        text-align: center;
        margin-bottom: 25px;
    }

    .contact-form {
        order: 2;
        align-items: center;
    }

    .contact-details img {
        width: 225px;
    }
    
    .contact-details h1 {
        font-size: 64px;
    }
    
    .contact-details h4 {
        font-size: 25px;
    }
    
    .contact-details h2 {
        font-size: 24px;
    }
    
    .contact-form h1 {
        font-size: 34px;
    }
    
    .contact-form h4 {
        font-size: 17px;
    }
    
    .contact-form form input, form textarea {
        font-size: 13px;
    }
    
    form button {
        font-size: 14px;
        width: 130px;
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 12px 6%;
    }

    .contact-form {
        order: 2;
        align-items: center;
    }

    .contact-details img {
        width: 200px;
    }
    
    .contact-details h1 {
        font-size: 59px;
    }
    
    .contact-details h4 {
        font-size: 23px;
    }
    
    .contact-details h2 {
        font-size: 21px;
    }
    
    .contact-form h1 {
        font-size: 32px;
    }
    
    .contact-form h4 {
        font-size: 15px;
    }
    
    .contact-form form input, form textarea {
        font-size: 12px;
    }
    
    form button {
        font-size: 13px;
        width: 115px;
    }
}