/* ---------- FOOTER ---------- */

/* DEFAULT */
footer {
    margin-top: auto;
    padding: 10px;
    background: #212121; 
}

footer h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding: 15px 0px;
}

footer h3 {
    text-align: center;
    color: white;
    font-size: 18px;
}

/* Smaller Devices */
@media (max-width: 1024px) {
    footer h2 {
        padding: 13px 0px;
        font-size: 21px;
    }
    
    footer h3 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    footer h2 {
        padding: 11px 0px;
        font-size: 19px;
    }
    
    footer h3 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    footer h2 {
        padding: 9px 0px;
        font-size: 17px;
    }
    
    footer h3 {
        font-size: 12px;
    }
}