/* ---------- HOME ---------- */

/* Background Image */
.home {
    height: 100vh;
    width: 100%;
    background-image: url(../images/home-background.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 120px 10%;
}

/* Home Styling */
.home-text h1 {
    font-size: 90px;
    color: deepskyblue;
    letter-spacing: 5px;
}

.home-text h2 {
    font-size: 20px;
}

.home-text h3 {
    font-size: 30px;
    position: relative;
    top: 100px;
    right: -22px;
}

.home-text h4 {
    color: #a6a6a6;
    font-size: 20px;
    font-weight: bolder;
}

/* Redirect Buttons */
.link-button {
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 12px 34px;
    margin: 10px;
    font-size: 23px;
    position: relative;
    font-style: bold;
    background: transparent;
    cursor: pointer; 
}

.link-button:hover {
    background: deepskyblue;
    transition: 1s;
}

/* Smaller Screens */
@media (max-width: 1024px) {
    .home {
        padding: 100px 8%;
    }

    .home-text h1 {
        font-size: 77px;
    }
    
    .home-text h2 {
        font-size: 17px;
    }
    
    .home-text h3 {
        font-size: 26px;
    }
    
    .home-text h4 {
        font-size: 17px;
    }
    
    .link-button {
        font-size: 19px;
        top: -20px;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 80px 6%;
    }

    .home-text h1 {
        font-size: 71px;
    }
    
    .home-text h2 {
        font-size: 15px;
    }
    
    .home-text h3 {
        font-size: 23px;
    }
    
    .home-text h4 {
        font-size: 15px;
    }
    
    .link-button {
        font-size: 16px;
        top: -30px;
    }
}