/* ---------- HOME ---------- */

/* Background Image */
.home {
    padding: 120px 10%;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(../images/home-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Home Styling */
.home-text h1 {
    font-size: 90px;
    color: deepskyblue;
    letter-spacing: 5px;
}

.home-text h2 {
    font-size: 20px;
}

.home-text h3 {
    font-size: 30px;
    position: relative;
    top: 200px;
}

.home-text h4 {
    color: #a6a6a6;
    font-size: 20px;
    font-weight: bolder;
}

/* Socials Links */
.socials {
    display: flex;
    position: relative;
    bottom: -180px;
}

.socials li {
    margin-right: 20px;
    cursor: pointer;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size: 50px;
    transition: color .5s ease
}

.socials a:hover i {
    color: deepskyblue;
}

/* Smaller Screens */
@media (max-width: 1024px) {
    .home {
        padding: 110px 7%;
        height: 80vh;
    }

    .home-text h1 {
        font-size: 77px;
    }
    
    .home-text h2 {
        font-size: 17px;
    }
    
    .home-text h3 {
        font-size: 26px;
        position: relative;
        top: 100px;
    }
    
    .home-text h4 {
        font-size: 17px;
    }

    .socials a i {
        font-size: 44px;
        position: relative;
        top: -90px;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 100px 4%;
        height: 65vh;
    }

    .home-text h1 {
        font-size: 71px;
    }
    
    .home-text h2 {
        font-size: 15px;
    }
    
    .home-text h3 {
        font-size: 23px;
        position: relative;
        top: 100px;
    }
    
    .home-text h4 {
        font-size: 15px;
    }

    .socials a i {
        font-size: 40px;
        position: relative;
        top: -90px;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 80px 2%;
        height: 50vh;
    }

    .home-text h1 {
        position: relative;
        bottom: -20px;
        font-size: 62px;
    }
    
    .home-text h2 {
        position: relative;
        bottom: -30px;
        font-size: 12px;
    }
    
    .home-text h3 {
        font-size: 20px;
        position: relative;
        top: 55px;
    }
    
    .home-text h4 {
        position: relative;
        bottom: -10px;
        font-size: 13px;
    }

    .socials a i {
        font-size: 36px;
        position: relative;
        top: -130px;
    }
}