/* ---------- WORK ---------- */

/* Layout */
.work {
    padding: 40px 10%;
}

.work h1 {
    text-align: center;
    font-size: 47px;
}

.work h3 {
    color: #a6a6a6;
    text-align: center;
    font-size: 27px;
    margin-top: 20px;
}

/* Skills */
.pro-langs {
    padding: 5px;
}

.pro-langs a {
    font-size: 42px;
}

.tool-frames {
    padding: 5px;
}

.tool-frames a {
    font-size: 42px;
}

/* Projects */
.project-title h1 {
    font-size: 47px;
    text-align: center;
    padding: 10px;
}

.project-title h2 {
    font-size: 27px;
    text-align: center;
    padding-bottom: 15px;
    color: #a6a6a6;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    grid-gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.project-row {
    background-color: #212121;
    padding: 55px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .35s;
}

.project-row i {
    color: deepskyblue;
    margin-bottom: 20px;
    font-size: 47px;
}

.project-row h2 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.project-row p {
    color: #a6a6a6;
    font-size: 18px;
}

.project-row:hover {
    transform: translateY(-8px);
}

/* Smaller Devices */
@media (max-width: 1024px) {
    .work {
        padding: 37px 7%;
    }
    
    .work h1 {
        font-size: 39px;
    }
    .work h3 {
        font-size: 19px;
    }
    
    .work a {
        font-size: 37px;
    }

    .project-title h1 {
        font-size: 39px;
    }
    
    .project-title h2 {
        font-size: 23px;
    }
    
    .project-row {
        padding: 48px 26px;
    }

    .project-row i {
        font-size: 40px;
    }
    
    .project-row h2 {
        font-size: 21px;
    }

    .project-row p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .work {
        padding: 34px 4%;
    }

    .work h1 {
        font-size: 36px;
    }
    .work h3 {
        font-size: 17px;
    }
    
    .work a {
        font-size: 36px;
    }

    .project-title h1 {
        font-size: 37px;
    }
    
    .project-title h2 {
        font-size: 21px;
    }

    .project-content {
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    }

    .project-row {
        padding: 44px 23px;
    }
    
    .project-row i {
        font-size: 36px;
    }
    
    .project-row h2 {
        font-size: 19px;
    }

    .project-row p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .work {
        padding: 28px 2%;
    }

    .work h1 {
        font-size: 34px;
    }
    .work h3 {
        font-size: 13px;
    }
    
    .work a {
        font-size: 33px;
    }

    .project-title h1 {
        font-size: 34px;
    }
    
    .project-title h2 {
        font-size: 18px;
    }

    .project-content {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
    .project-row {
        padding: 41px 20px;
    }
    
    .project-row i {
        font-size: 33px;
    }
    
    .project-row h2 {
        font-size: 17px;
    }

    .project-row p {
        font-size: 12px;
    }
}