* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
  letter-spacing: 2px;
}

body {
  background: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

.section-intro {
  font-size: 70px;
  text-align: center;
  padding-top: 30px;
  color: deepskyblue;
}

/* Smaller Devices */
@media (max-width: 1024px) {
  .section-intro {
    font-size: 59px;
  }
}
@media (max-width: 768px) {
  .section-intro {
    font-size: 51px;
  }
}
/* ---------- NAVBAR ---------- */
/* DEFAULT */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 44px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  text-align: left;
  font-size: 45px;
  font-weight: 900;
  color: deepskyblue;
}

/* Menu Display */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  list-style: none;
}

/* Links */
.nav-link {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.nav-link:hover {
  color: deepskyblue;
}

.nav-link:after {
  content: "";
  width: 0%;
  height: 2px;
  background: deepskyblue;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.nav-link:hover::after {
  width: 100%;
}

/* JavaScript Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Scroll Down Color Change */
header.sticky {
  transition: 2s;
  background: #121212;
}

/* Navbar: Smaller Devices */
@media (max-width: 576px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header {
    background-color: #212121;
  }
  .navbar {
    position: fixed;
    right: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #212121;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .navbar li {
    margin: 16px 0;
  }
  .navbar.active {
    right: 0;
  }
  .logo {
    font-size: 37px;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header {
    background-color: #212121;
  }
  .navbar {
    position: fixed;
    right: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #212121;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .navbar li {
    margin: 16px 0;
  }
  .navbar.active {
    right: 0;
  }
  .logo {
    font-size: 40px;
  }
}
/* ---------- HOME ---------- */
/* Background Image */
.home {
  height: 100vh;
  width: 100%;
  background-image: url(../images/home-background.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding: 120px 10%;
}

/* Home Styling */
.home-text h1 {
  font-size: 90px;
  color: deepskyblue;
  letter-spacing: 5px;
}

.home-text h2 {
  font-size: 20px;
}

.home-text h3 {
  font-size: 30px;
  position: relative;
  top: 100px;
  right: -22px;
}

.home-text h4 {
  color: #a6a6a6;
  font-size: 20px;
  font-weight: bolder;
}

/* Redirect Buttons */
.link-button {
  color: white;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  padding: 12px 34px;
  margin: 10px;
  font-size: 23px;
  position: relative;
  font-style: bold;
  background: transparent;
  cursor: pointer;
}

.link-button:hover {
  background: deepskyblue;
  transition: 1s;
}

/* Smaller Screens */
@media (max-width: 1024px) {
  .home {
    padding: 100px 8%;
  }
  .home-text h1 {
    font-size: 77px;
  }
  .home-text h2 {
    font-size: 17px;
  }
  .home-text h3 {
    font-size: 26px;
  }
  .home-text h4 {
    font-size: 17px;
  }
  .link-button {
    font-size: 19px;
    top: -20px;
  }
}
@media (max-width: 768px) {
  .home {
    padding: 80px 6%;
  }
  .home-text h1 {
    font-size: 71px;
  }
  .home-text h2 {
    font-size: 15px;
  }
  .home-text h3 {
    font-size: 23px;
  }
  .home-text h4 {
    font-size: 15px;
  }
  .link-button {
    font-size: 16px;
    top: -30px;
  }
}
/* ---------- ABOUT ---------- */
/* Text Styling */
.about {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 2rem;
  padding: 40px 10%;
  padding-bottom: 0px;
}

.about img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.about-text h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.about-text p {
  color: #a6a6a6;
  line-height: 28px;
  font-size: 15px;
}

/* Smaller Devices */
@media (max-width: 1024px) {
  .about {
    padding: 28px 8%;
    padding-bottom: 0px;
    grid-template-columns: 1fr;
  }
  .about-text h1 {
    font-size: 39px;
  }
  .about-text p {
    font-size: 13px;
  }
  .about-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .about-image img {
    max-width: 100%;
    width: 700px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 24px 6%;
    padding-bottom: 0px;
  }
  .about-text h1 {
    font-size: 34px;
  }
  .about-text p {
    font-size: 12px;
  }
}
/* ---------- WORK ---------- */
/* Layout */
.work {
  padding: 40px 10%;
}

.work h1 {
  text-align: center;
  font-size: 45px;
}

.work h3 {
  color: #a6a6a6;
  text-align: left;
  font-size: 20px;
}

.work a {
  font-size: 40px;
}

/* Skills */
.pro-langs {
  padding: 5px;
}

.pro-langs h2 {
  color: #a6a6a6;
}

.tool-frames {
  padding: 5px;
}

/* Projects */
.project-title h1 {
  font-size: 45px;
  text-align: center;
  padding: 10px;
}

.project-title h2 {
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
  color: #a6a6a6;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, auto));
  grid-gap: 20px;
  align-items: center;
  margin-top: 50px;
}

.project-row {
  background-color: #212121;
  padding: 55px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.35s;
}

.project-row i {
  color: deepskyblue;
  margin-bottom: 20px;
  font-size: 44px;
}

.project-row h2 {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.project-row p {
  color: #a6a6a6;
  font-size: 15px;
}

.project-row:hover {
  transform: translateY(-8px);
}

/* Smaller Devices */
@media (max-width: 1024px) {
  .work {
    padding: 34px 8%;
  }
  .work h1 {
    font-size: 38px;
  }
  .work h3 {
    font-size: 17px;
  }
  .work a {
    font-size: 36px;
  }
  .project-title h1 {
    font-size: 38px;
  }
  .project-title h2 {
    font-size: 21px;
  }
  .project-row i {
    font-size: 39px;
  }
  .project-row h2 {
    font-size: 20px;
  }
  .project-row p {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .work {
    padding: 31px 6%;
  }
  .work h1 {
    font-size: 35px;
  }
  .work h3 {
    font-size: 15px;
  }
  .work a {
    font-size: 34px;
  }
  .project-title h1 {
    font-size: 36px;
  }
  .project-title h2 {
    font-size: 19px;
  }
  .project-row i {
    font-size: 35px;
  }
  .project-row h2 {
    font-size: 18px;
  }
  .project-row p {
    font-size: 12px;
  }
}
/* ---------- CONTACT ---------- */
/* Layout */
.contact {
  padding: 20px 10%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 48px;
}

/* Contact Details */
.contact-details img {
  -webkit-clip-path: circle();
          clip-path: circle();
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.contact-details h1 {
  text-align: center;
  font-size: 70px;
  position: relative;
  top: -70px;
  color: deepskyblue;
}

.contact-details h4 {
  text-align: center;
  font-size: 30px;
  position: relative;
  top: -70px;
}

.contact-details h2 {
  text-align: center;
  font-size: 30px;
  position: relative;
}

.contact-details span {
  color: deepskyblue;
}

.contact-map {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: center;
}

/* Contact Form */
.contact-form {
  background: #212121;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.contact-form h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0px;
}

.contact-form h4 {
  text-align: center;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 30px;
  color: #a6a6a6;
}

.contact-form form {
  position: relative;
}

.contact-form form input, form textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  outline: none;
  background: #323232;
  font-size: 16px;
  color: white;
  margin-bottom: 12px;
}

.contact-form textarea {
  resize: none;
  height: 200px;
}

form button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 15px;
  background: #808080;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto;
  border-radius: 30px;
}

form button:hover {
  background-color: deepskyblue;
  transition: 0.5s;
  transform: translateY(-8px);
}

/* Smaller Devices */
@media (max-width: 1024px) {
  .contact {
    grid-template-columns: 1fr;
    padding: 15px 8%;
  }
  .contact-details img {
    text-align: center;
    margin-bottom: 25px;
  }
  .contact-form {
    order: 2;
    align-items: center;
  }
  .contact-details img {
    width: 225px;
  }
  .contact-details h1 {
    font-size: 64px;
  }
  .contact-details h4 {
    font-size: 25px;
  }
  .contact-details h2 {
    font-size: 24px;
  }
  .contact-form h1 {
    font-size: 34px;
  }
  .contact-form h4 {
    font-size: 17px;
  }
  .contact-form form input, form textarea {
    font-size: 13px;
  }
  form button {
    font-size: 14px;
    width: 130px;
  }
}
@media (max-width: 768px) {
  .contact {
    padding: 12px 6%;
  }
  .contact-form {
    order: 2;
    align-items: center;
  }
  .contact-details img {
    width: 200px;
  }
  .contact-details h1 {
    font-size: 59px;
  }
  .contact-details h4 {
    font-size: 23px;
  }
  .contact-details h2 {
    font-size: 21px;
  }
  .contact-form h1 {
    font-size: 32px;
  }
  .contact-form h4 {
    font-size: 15px;
  }
  .contact-form form input, form textarea {
    font-size: 12px;
  }
  form button {
    font-size: 13px;
    width: 115px;
  }
}
/* ---------- FOOTER ---------- */
/* DEFAULT */
footer {
  margin-top: auto;
  padding: 10px;
  background: #212121;
}

footer p {
  text-align: center;
  color: white;
  font-size: 14px;
  padding-top: 15px;
}

/* Socials Links */
.socials {
  list-style: none;
  display: flex;
  justify-content: center;
}

.socials li {
  margin: 0px 10px;
  cursor: pointer;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials a i {
  font-size: 30px;
  transition: color 0.5s ease;
}

.socials a:hover i {
  color: deepskyblue;
}/*# sourceMappingURL=style.css.map */